@import "tailwindcss";

/* Design Tokens */
@theme {
  --color-primary: #135bec;
  --color-bg-dark: #101622;
  --color-surface: #111722;
  --color-card: #192233;

  --font-display: "Space Grotesk", sans-serif;
  --font-body: "Noto Sans", sans-serif;
}

@layer base {
  body {
    font-family: var(--font-body);
    background: var(--color-bg-dark);
    color: white;
  }

  h1, h2, h3 {
    font-family: var(--font-display);
    letter-spacing: -0.02em;
  }
}
